@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");

/* ExtraLight: 200
Light: 300
Regular: 400
SemiBold: 600
Bold: 700 */

:root {
  --grey: rgb(220, 213, 213);
  --orange: rgb(253, 152, 20);
  --white: rbg(255, 255, 255);
  --mat-black: 	rgb(19, 19, 20);
  -md-blue: rgb(25, 25, 112);
  --cadmiun-red: rgb(210, 43, 43);
}



.sticky {
  background-color: transparent;
  color: black;
}

body{
  height: 300vh;
  background-color: var(--mat-black);

}






video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;

  filter: brightness(60%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: 250ms;
  z-index: 2;
}

.nav-links {
  position: absolute;
  left: 0;
  top: 5vh;
  width: 100%;
  height: 70vh;
  background-color: black;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: menu_animations 500ms ease-in;
}

.show-navlinks {
  display: flex;
}

@keyframes menu_animations {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.logo {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  color: var(--grey);
  transition: 250ms;
  font-family: "Titillium Web", sans-serif;
}

header ul li {
  list-style: none;
  margin: 20px 0;
}

header ul li a {
  text-decoration: none;
  padding: 10px 30px;
  font-size: 1rem;
  color: var(--grey);
  transition: 250ms;
  font-family: "Titillium Web";
  font-weight: 600;
}

header ul li a:hover {
  color: var(--orange);
}


.vert-center-text {
  position: absolute; 
  top: 40%; 
  left: 0;
  text-align: center; 
  width: 100%; 
}

.mainContent{
  color: white;
  position: absolute;
   width: 100%;
  height: 20px; 
  top: 50%;
  margin-top: -10px;
  text-align: center;



}

.learnMore{

  color: white;
  position: absolute;
   width: 100%;
  height: 20px; 
  top: 92%;
  margin-top: -10px;
  text-align: center;

}




#aboutMe{
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  display:inline-block;
  background: var(--mat-black);


}










.AboutMe h1{
  color: white;
  text-align: center;
  align-items: center;

  position: absolute;

  left: 15%;
  top: 10%;

  font-size: 1.5em;
  font-weight: 600;
  font-family: "Titillium Web";
  font-size: 3em;

  border-bottom: 2px orange solid;






}



#skills{
  position: relative; /* changed from absolute to relative */
  height: 100vh; /* set a fixed height for the section */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  top: 800px;
}

.SkillsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SkillsContainer h2:hover{
  cursor: pointer;
  background-color: rgb(241, 100, 6);
  transform: scale(1.2);
}

.SkillsContainer h2{

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    position: relative;
    
  

    


    font-size: 1.3em;

    top:6%;

   


    
  
    border: 2px double rgb(243, 148, 6);

    height: auto;
    text-align: center;
    padding: 10px 0px 10px 0px;

    transition: transform 0.5s ease-in-out

;
  }

.SkillsContainer{
  /* background-color: rgba(8, 7, 6, 0.786); */


  display: grid;
  grid-template-columns: repeat(5, 3fr); /* set a grid with 3 columns */
  gap: 20px;
  padding: 20px;

 


  
}



.SkillsContainer div:hover{

  cursor: pointer;
  transform: scale(1.1);

  
}

.SkillsContainer div{
  background-color: var(--orange);
  color: black;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.3em;
  text-align: center;
  transition: transform 0.3s ease-in-out;


  














 

  






}


.MySkills {
  max-width: 800px; /* set a max width for the container */
  margin: 0 auto;
  padding: 20px;
}


.MySkills h1{

  left: 50%;
  top: 10%;

  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  font-family: "Titillium Web";
  border-bottom: 2px orange solid;
  margin-bottom: 20px;





}

/* .imgContainer{

  position: relative;

  left: 66%;

  top: 100px;




}

img{
  position: relative;


} */


.imgContainer {
  position: absolute;
  left: 65%;
  top: 12rem;
  max-width: 40%;
  height: auto;

  width: 400px;

  height: 400px;
  transition: 1s ease-in-out;

  filter: drop-shadow(3px 5px 10px rgb(122, 123, 122));


}

.imgContainer img {
  width: 100%;
  height: auto;

  border-radius: 30px;




}

.container10 {
  display: flex;
  flex-wrap: nowrap;
}

.image10 {
  width: 50%;
  height: auto;
}

.text10 {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.title10 {
  font-size: 2rem;
  margin-top: 0;
}

.description10 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button10 {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.button10:hover {
  background-color: #45a049;
}


.imgContainer:hover{



  transform: scale(1.1);


  filter: drop-shadow(20px 10px 4px #6a6a6beb);

}

.resume{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20vh;

  margin: 0;
}

.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#ffb640, #f38c42 50%,#ebb000);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.button-63:hover {
    cursor: pointer;
    transform: scale(1.05)
}

.button-63:active,
.button-63:hover {
  outline: 0;
}





.contentWrapper{
  display: flex;

  flex-direction: row;
}


.skillsRight{
  color: white;
  text-align: center;
  align-items: center;

  position: absolute;

  left: 50%;
  top: 10%;

  font-size: 2em;
  font-weight: 600;
  font-family: "Titillium Web";
  font-size: 3em;

  border-bottom: 2px orange solid;

}

.AboutMe h1 > span{
  color: var(--orange);
  /* font-size: 2em; */

}


.MySkills h1 > span{
  color: var(--orange);
  /* font-size: 2em; */

}

.AboutMe p{

  font-weight: 400;
  font-family: "Titillium Web";



  position: absolute;


  top: 30%;


  left: 5%;

  margin-right: 220px;

  right: 20%;





  color: whitesmoke;

  font-size: 1.2rem;

  /* padding-right: 290px; */

  margin-right: 500px;




  

}

.MySkills p{

  font-weight: 400;
  font-family: "Titillium Web";



  position: absolute;


  top: 30%;


  left: 30%;

  /* margin-right: 220px; */

  right: 20%;





  color: whitesmoke;

  font-size: 1.2rem;

  

}



.learnMore p{
  font-weight: 300;
  font-family: "Titillium Web";
  font-size: 1rem;

}

.Test{

  color: black;
  position: absolute;
   width: 100%;
  height: 20px; 
  top: 102%;
  margin-top: -10px;
  text-align: center;
}

.Test h1{
  font-weight: 300;
  font-family: "Titillium Web";
  font-size: 1rem;

}

.intro{
  font-weight: 700;
  font-family: "Titillium Web";
  font-size: 2.5rem
}

.intro span{
  color:var(--orange)
}

.learnMore i{
  font-size: 1.5rem;
}



.vert-center-text h1 { 
   color: white;
}

.vert-center-container {
 position:relative;
}

.hamburger-on {
  background: url(../images/bar1.svg);
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 250ms ease-in-out;

  filter: brightness(0) invert(1);
}


.hamburger-off {
  padding: 9px;
  background: url(../images/xmark-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  filter: brightness(0) invert(1);
}

@media screen and (min-width: 700px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    position: unset;
    width: auto;
    height: auto;
    background: none;
  }

  header ul {
    display: flex;
  }

  header ul li {
    margin: 0;
  }

  header ul li a {
    padding: 0;
    margin: 5px 37px;
    font-size: 0.9em;
  }

  .hamburger-on {
    display: none;
  }

  .logo {
    font-size: 22px;
  }



 
 




}

@media (max-width: 480px) {
  .SkillsContainer {
     grid-template-columns: repeat(1, 1fr);
   }
  .SkillsContainer div {
     font-size: 1.1em;
   }

   #skills{
    position: relative;
    top: 1000px
  }
 }

@media (max-width: 768px) {
  .SkillsContainer {
     grid-template-columns: repeat(2, 1fr);
   }

   #skills{
    position: relative;
    top: 1200px
  }
 }

 @media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}
@media screen and (max-width: 1000px) {
  .AboutMe h1 {
    left: 25%;
  }

  .AboutMe p {
    left: 15%;
    right: 10%;

    margin-right: 0px;
  }
  #skills{
    position: relative;
    top: 1500px
  }


  /* .imgContainer {

    left: 20%;

    top: 50rem;

  } */

  .imgContainer {
    position: absolute;
    left: 15%;
    top: 60rem;
    max-width: 70%;
    height: auto;
  }

  .imgContainer img {
    width: 100%;
    height: auto;
  }


}


@media screen and (max-width: 1000px ) and   (min-width: 1150px ){

  .AboutMe p {
    left: 5%;
    right: 10%;

    margin-right: 400px;
  }

  #skills{
    position: relative;
    top: 1600px
  }
}





@media screen and (max-width: 656px) {
  .AboutMe h1 {
    left: 32%;
  }

  .AboutMe p {
    left: 15%;
    right: 10%;

    margin-right: 0px;
  }

  /* .imgContainer{

    left: 6%;

    width: 500px;
    height: 300px;

    top: 60rem;
  } */



  


}
/* 
@media screen and (max-width: 656px) {
  .AboutMe h1 {
    left: 32%;
  }

  .AboutMe p {
    left: 15%;
    right: 10%;
  }

  .intro{
    font-size: 2rem;
  }


  .imgContainer{

    left: 6%;

    width: 500px;
    height: 300px;

    top: 60rem;
  }

  


}
 */
