@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-bg: #0A0A0A;
    --color-text-primary: #9A86FF;
    --color-text-secondary: #7B9DFF;
    --color-accent: #5C4DFF;
    --color-accent-hover: #373FFF;
    --color-shadow: rgba(92, 77, 255, 0.5);
    --color-link: #4A6CFF;
    --color-border: rgba(123, 157, 255, 0.3);
  }
}